@media (min-width: 1025px) {
  .hamburger{
    display: none;
  }

  .template-title{

    &-half {
        &:after {
            display: none;
        }

        h2:after {
            content: "";
            display: inline-block;
        }
    } 
    &-start {
      &:after {
          left: 0;
          transform: none;
      }
    }
  }

  .calculation-decoration {
    max-width: 54.634vw;
  }


  .slider-advantages {
    .swiper-wrapper {
      flex-wrap: wrap;
      gap: 26px 0;
    }

    .swiper-slide {
      max-width: 25%;
    }
}
}
  
