@media screen and (max-width: 1024px) {
    .container {
        padding-left: $container-mobile-padding;
        padding-right: $container-mobile-padding;
    }
    
    section {
        padding: 55px 0 60px;
        &.accent {
            &:before {
                width: 100%;
                border-radius: 0px;
            }
        }
    }
    
    .template-title {
        & h2 {
            font-size: 24px;
        }
        & h3 {
            font-size: 16px;
        }
        &::after{
            bottom: 48px;
        }
        &.template-title-start {
            text-align: center;
            &:after {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
        &.template-title-half {
            max-width: 100%;
            text-align: center;
            &:after {
                display: inline-block;
            }
            & h2:after {
                display: none;
            }
        }
    }


    //header//

    .header__container {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .header__logo_img{
        max-width: 126px;
    }
    
    .header__nav{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 72px;
        left: 0;
        flex-direction: column;
        align-items: center;
        background-color: $bg-secondary;
        padding: 0 40px 60px;
        transition: 0.3s;
        box-shadow: 14px 22px 40px 0 rgba(30, 35, 66, 0.6117647059);

        &.show{
            visibility: visible;
            opacity: 1;
            transform: translate(0);
        }
    }

    .header__nav .btn__nav{
        padding: 22px 78px;
        font-size: 16px;
    }

    .nav__list{
        flex-direction: column;
        padding: 37px 12px 34px;
        gap: 0;
        
        a{
          font-size: 24px;
          line-height: 222%;
        }
    }

    .hamburger{
        display: flex;
        margin-left: auto;
        align-items: center;
    }
    
    //first-screen//

    .slider-info {
        padding: 0;

        .swiper-slide {
            min-height: calc(100vh - 71px);
            border-radius: 0;
            padding: 68px 20px 0;
            background-position: center;
            
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: #04051199;
            }
        }

        .btn-lg{
            padding: 20px 36px;
        }

        
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &-title {
            font-size: 32px;
            max-width: 240px;
            margin-bottom: 10px;
        }
    
        &-description {
            font-size: 16px;
            max-width: 280px;
            margin-bottom: 18px;
        }
    }

    .template-title {
        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 18px;
        }

        &:after {
            bottom: 42px;
        }

        &-half {
            margin: 0 auto;
            text-align: center;
        }
    }
}

    

