@media screen and (max-width: 575px) {

    .template-card {
        padding: 0 23px 27px;
        max-width: 335px;
        .img-box {
            margin: 0 -23px 27px;
        }
        .card-img {
            height: 213px;
        }
    }

    .btn-row {
        gap: 12px;

        .btn {
            width: 138px;
            justify-content: center;
            padding: 13px 4px;
        }
    }


    //services//    
  
    .services {
        & .swiper-template {
            & .template-card {
                & .card-description {
                    font-size: 14px;
                    margin-bottom: 7px;
                    line-height: 17px;
                }
                & .btn-row {
                    & .btn {
                        width: 153px;
                    }   
                }
            }
        }
    }


    //about//
 
    .about {
        & .about-row {              
            & .content-box {
                & h6 {
                    font-size: 16px;
                }
            }
            & .img-box {
                width: 100%;

                & img {
                    max-width: 326px;
                }
            }
        }
    }

    //questions// 

    .question-row {
        & .accordion {
            & .accordion-item {
                & .accordion-button {
                    font-size: 16px;
                    line-height: 124.5%;
                    padding: 12px 19px 10px 22px;

                    &:after {
                        margin-left: 15px;
                    }
                }
                & .accordion-body {
                    font-size: 14px;
                    line-height: 145.5%;
                    padding: 0px 15px 12px 22px;
                    margin-top: -3px;
                }
            }
        }
        & .question-form {
            padding: 38px 20px;
        }
    }

    //registration//   

    .registration-content {
        gap: 17px;

        & .registration-row {
            gap: 34px;

            & .description-box {
                & .description-list {
                    font-size: 16px;
                    line-height: 150%;
                    text-align: justify;

                    & li {
                        margin-bottom: 20px;
                    }
                }
                & .registration-btn .btn-lg {
                    width: 100%;
                }
            }
            & .img-box {
                height: 245px;
            }
            & .btn_margin {
                margin-bottom: 30px;
            }
        }
    }

}
