///fonts///
$font-primary: "ProximaNova";

///colors///
$color-primary: #E58D35;
$color-secondary: #89C249;
$bg-primary:#282B38;
$bg-secondary: #363A4D;
$text-color: #fff;

$section-title-padding: 60px;
$container-padding: 15px;
$container-mobile-padding: 20px;