<section class="about" id="about">
    <div class="container">
        <div class="template-title template-title-start">
            <h2>Про компанію</h2>
        </div>
        <div class="about-row">
            <div class="content-box">
                <h6>Компанія Азія Карго - це повний комплекс логістичних послуг з доставки вантажів з 
                    Китаю в Україну - збірні вантажі та цільні товарні партії, послуги посередника ТаоБао, 
                    КАРГО Китай - Україна. Для вашої зручності є тарифи на легкий і важкий куб. 
                    Ми працюємо на ринку більше 4 років, а керівники компанії займаються логістикою вже більше 11 років.
                </h6>
                <h6>Ми прагнемо надати найкращі умови доставки та найкращий сервіс своїм клієнтам. Обираючи нас - 
                    ви обираєте якісну доставку оптимальну за ціною та часом!  Переконайтеся в цьому самі!
                </h6>
            </div>
            <div class="img-box">
                <img class="img-fluid" src="assets/img/about.png" alt="about">
            </div>
        </div>
    </div>
</section>