<section class="accent">
    <div class="container">
        <div class="template-title">
            <h2>Чому варто обрати саме нас?</h2>
        </div>
        
        <div class="slider-advantages">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="advantage">
                    <div class="img-box">
                        <img src="assets/img/advantage-1.svg" alt="">
                    </div>
                    <h6 class="advantage-title">Митне оформлення вантажу</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantage">
                    <div class="img-box">
                        <img src="assets/img/advantage-2.svg" alt="">
                    </div>
                    <h6 class="advantage-title">Страхування вантажу</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantage">
                    <div class="img-box">
                        <img src="assets/img/advantage-3.svg" alt="">
                    </div>
                    <h6 class="advantage-title">Перевірка товару на дефекти</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantage">
                    <div class="img-box">
                        <img src="assets/img/advantage-4.svg" alt="">
                    </div>
                    <h6 class="advantage-title">Доставка в будь-яке місто України</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantage">
                    <div class="img-box">
                        <img src="assets/img/advantage-5.svg" alt="">
                    </div>
                    <h6 class="advantage-title">Консолідація на складі</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantage">
                    <div class="img-box">
                        <img src="assets/img/advantage-6.svg" alt="">
                    </div>
                    <h6 class="advantage-title">Відповідальне зберігання вантажу</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantage">
                    <div class="img-box">
                        <img src="assets/img/advantage-7.svg" alt="">
                    </div>
                    <h6 class="advantage-title">Допомога в оплаті товару</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="advantage">
                    <div class="img-box">
                        <img src="assets/img/advantage-8.svg" alt="">
                    </div>
                    <h6 class="advantage-title">Пакування, перепакування, палетування вантажу до міжнародного перевезення</h6>
                </div>
              </div>
 
            </div>
            <div class="swiper-pagination"></div>
          </div>
    </div>
</section>