<section class="calculation-page">
    <div class="container">
        <div class="template-title template-title-half">
            <h2>Отримати розрахунок вартості доставки вашого вантажу</h2>
        </div>
        <form class="calculation-form">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <label for="category">Категорія товару:</label>
                        <input id="category" type="text" placeholder="Категорія товару">
                    </div>
                    <div class="input-box">
                        <label for="weight">Вага вантажу (кг):</label>
                        <input id="weight" type="text" placeholder="Введіть вагу">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="price">Вартість вантажу:</label>
                        <input id="price" type="text" placeholder="Введіть вартість">
                    </div>
                    <div class="input-box">
                        <label for="volume">Об'єм вантажу (м3):</label>
                        <input id="volume" type="text" placeholder="Введіть об'єм">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="variation-box">
                        <div class="checkbox-box">
                            <input id="insurance" type="checkbox" value="insurance">
                            <label for="insurance">Страхування</label>
                        </div>
                        <div class="checkbox-box">
                            <input id="paperwork" type="checkbox" value="paperwork">
                            <label for="paperwork">Митне оформлення</label>
                        </div>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="code">Код ТН ЗЕД:</label>
                        <input id="code" type="text" placeholder="Введіть код">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <div id="file-name" class="file-name">фотографія.jpeg</div>
                        <input id="calculation-file" type="file" class="calculation-input">
                        <label for="calculation-file" class="calculation-label">Завантажити фото товару</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <button type="button" class="btn btn-primary btn-lg form-btn">Наступний крок<img src="assets/img/btn-arrow.svg" class="icon"></button>                
                </div>
            </div>
        </form>
        <img src="assets/img/calculation-decoration.png" class="calculation-decoration" alt="decoration">
    </div>
</section>