<footer id="contact" class="footer">
    <div class="container">
        <div class="contact-container">
            <div class="footer-column">
                <a href="index.html">
                    <img class="logo img-fluid" src="assets/img/logo.svg" alt="logo">
                </a>
                <ul>
                    <li><a class="phone" href="tel:8(800)600-18-69">8(800)600-18-69</a></li>
                    <li><a href="mailto: info@cargoasia.info">info@cargoasia.info</a></li>
                    <li>Адреса в Китаї:</li>
                    <li>浙江省金华市义乌市后宅街道洪华小区5</li>
                    <li>栋一单元一楼RT789库房 高建军 电话</li>
                    <li>15966660379</li>
                </ul>
                <div class="icon-box">
                    <a class="icon-item">
                        <img src="assets/img/instagram.svg" alt="instagram">
                    </a>
                    <a class="icon-item">
                        <img src="assets/img/facebook.svg" alt="facebook">
                    </a>
                    <a class="icon-item">
                        <img src="assets/img/telegram.svg" alt="telegram">
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-container">
            <div class="footer-column">
                <h5>Вантажні перевезення</h5>
                <ul>
                    <li><a href="#calculation">Ціни та терміни</a></li>
                    <li><a href="#services">Послуги</a></li>
                    <li><a href="#about">Про компанію</a></li>
                    <li><a href="#contact">Контакти</a></li>
                    <li><a href="#registration">Оформити вантаж</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h5>Послуги</h5>
                <ul>
                    <li><a href="#services">Викуп товару</a></li>
                    <li><a href="#services">Страхування вантажу</a></li>
                    <li><a href="#services">Оренда складу</a></li>
                    <li><a href="#services">Переказ коштів</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h5>Інформація</h5>
                <ul>
                    <li><a href="#">Відгуки</a></li>
                    <li><a href="#">Вимоги до вантажу</a></li>
                    <li><a href="#">Договір-оферта</a></li>
                    <li><a href="#">Як укласти договір</a></li>
                    <li><a href="#">Способи оплати послуг</a></li>
                    <li><a href="#">Документи</a></li>
                    <li><a href="#">Статті</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>