<header>
    <div class="header__container container">
        
        <a href="index.html">
            <img src="assets/img/logo.svg" class="header__logo_img" alt="logo">
        </a>
        <div class="header__nav">
            <nav class="nav__list">
                <a href="#">Ціни та терміни</a>
                <a href="#">Послуги</a>
                <a href="#">Про компанію</a>
                <a href="#">Контакти</a>
                <a href="#">Оформити вантаж</a> 
            </nav>
            <button type="button" class="btn btn-primary btn__nav">Залишити заявку</button>
        </div>
        <button class="hamburger hamburger--spin">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>     
        
    </div>
</header>

