<section class="registration accent" id="registration">
    <div class="container">
        <div class="template-title">
            <h2>Готові до співпраці?</h2>
            <h3>Зареєструйте вантаж!</h3>
        </div>
        
        <div class="registration-content">
            <div class="registration-row row-1 flex-reverse">
                <div class="description-box">
                    <ul class="description-list">
                        <li>Для того, щоб почати співпрацю, необхідно оформити вантаж вказавши інформацію про вміст вантажу, його вартість і кількість. А також прикріпивши фотографії до заявки.</li>
                        <li>Якщо потрібна перевірка товару на відповідність кількості, то під час оформлення вантажу на нашому сайті вкажіть це в графі «Примітка». Данная услуга платная и составляет 3 юаня за одну позицию в заказе. Будь-які додаткові перевірки вантажу обговорюються індивідуально, зокрема і їх вартість.</li>
                        <li>До відправлення вантажу на наш склад у Китаї обов'язково подбайте про те, щоб зробити маркування, з номером Вашого замовлення у нас на сайті, для кожної зовнішньої коробки, щоб ми змогли визначити саме Ваш вантаж. Якщо у Вас немає можливості зробити це самостійно, то попросіть про це свого постачальника.</li>
                    </ul>
                </div>
                <div class="img-box">
                    <a href="assets/img/registration-1.png" data-fancybox data-caption="Delivery">
                        <img class="img-fluid" src="assets/img/registration-1.png" alt="registration-img">
                    </a>
                </div>
            </div>
            <div class="registration-row row-2">
                <div class="img-box">
                    <a href="assets/img/registration-2.png" data-fancybox data-caption="Delivery">
                        <img class="img-fluid" src="assets/img/registration-2.png" alt="registration-img">
                    </a>
                </div>
                <div class="description-box">
                    <ul class="description-list">
                        <li>Після відправлення вантажу на наш склад у Китаї, Вам обов'язково потрібно вказати трек-номер для відстеження посилок по Китаю для кожної позиції в замовленні. Внести трек-номер можна на сторінці замовлення. Трек-номер - це ще один захід для ідентифікації Вашого вантажу на нашому складі.</li>
                        <li>Якщо Ви оформили вантаж за нашою інструкцією і зробили все правильно, то при отриманні Вашого вантажу на складі в Китаї статус замовлення зміниться на «На складі».</li>
                    </ul>

                    
                    <div class="registration-btn">
                        <button type="button" class="btn btn-primary btn-lg">Оформити вантаж<img src="assets/img/btn-arrow.svg" class="icon"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> 